.gb-timvieclam-vnworks .gb-search-filter-vieclam-bg {
  background: #00b9f2;
  padding: 15px 30px; }

.gb-timvieclam-vnworks h4 {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
  color: #fff;
  font-weight: 400; }

.gb-timvieclam-vnworks .form-control {
  border-radius: 0; }

.gb-timvieclam-vnworks .btn-timkiem-vieclam {
  background: #f7941d;
  width: 100%;
  border: 1px solid #fff;
  color: #fff;
  font-weight: bold; }
