.gb-partner_vieclam{
    h2{
        font-size: 36px;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        font-weight: 400;
        text-transform: capitalize;
    }
    a{
        display:  flex;
        align-items: center;
        justify-content: center;
        height: 90px;
        border: 1px solid #eee;
        padding: 15px;
        background:  #fff;
        margin-bottom: 30px;
        img{

        }
    }
}