.gb-nhatuyendungnoibat-vieclam h2 {
  font-size: 36px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  font-weight: 400;
  text-transform: capitalize; }

.gb-nhatuyendungnoibat-vieclam .gb-nhatuyendungnoibat-vieclam-item .gb-nhatuyendungnoibat-vieclam-bg {
  background-size: cover;
  background-position: center center; }
